.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}
.footer {
	background-color: #666666;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}
.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	color: floralwhite;
	background-color: #CCCCCC;
	background-image: url(../img/wed2.JPG);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
a img { 
	border: none;
}
a:link {
	text-decoration: none;
	color: #fff;
}
a:visited {
	text-decoration: none;
	color: #fff;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: #CCC;
}
.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.bottom-border {
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
body {
    padding: 50px 0px 0px;
    z-index: 0;
}
.navbar-light {
    background-color: #CCCCCC;
}
.yellow {
    background-color: #f4c147;
}
.txtshadow {
  text-shadow: 2px 2px #000000;
}
.txtshadow-sm {
  text-shadow: 1px 1px #000000;
}
.background-red{
 background-color: #721c24;
}
.txt-gray {
    color: #CCCCCC;
}
.txt-white {
	color:#FFF
}

.carousel-item a {
  display: block;
  width:100%;
}
.carousel {
  background: #CCC; }

.carousel .carousel-item {
	object-fit:cover;
}

.carousel .carousel-item img {
  object-fit:cover;
  top: 0;
  left: 0;
}

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; 
}
.jumbotron2 {
	background-color: #CCCCCC;
	background-image: url(../img/mn-wedding-photo-back.png);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotronquote {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
}
.iframe-container {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
.txt-danger-bold {
    color: #F00;
	font-weight:800;
}
.pricefloat {
	background-image: url(../img/button-bar-background.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 35px;
	left:0px;  /* change this to left: 1px; to put it on the left of the screen */
	top:15px;
	z-index:5000;
	width: 750px;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	float: left;
	color: #F00;
}
.buttonbar {
	background-image: url(../img/button-bar-back.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 45px;
	z-index:5000;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 0;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.totalfloat {
	background-image: url(../img/total-float-back.png);
	background-repeat: no-repeat;
	background-position: center center;
	height:85px;
	top:400px;
	position:fixed;
	z-index:5000;
	float: right;
	width: 185px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	left: 0px;
	color: #F00;
	font-weight:800;
}